.main {    
   height: 310px;
}
.full-bg-img{
   background-color: rgba(124, 49, 15, 0.829);
   position: absolute;
   overflow: hidden;
   width: 100%;
}
.navbar-home {
  background-color: rgba(124, 49, 15, 0.904);
  border-color:  rgba(124, 49, 15, 0.904);
  border-radius: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.richminds {    
  font-size: 30px;
  font-weight: bolder;
  font-family: Open Sans;
  color: rgb(250, 157, 51);
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: rgb(250, 157, 51);
  background-color: rgba(124, 49, 15, 0.904); 
}
.navbar-nav .active a {
  border: 2px solid rgb(250, 157, 51);
}
.navbar-default .navbar-nav > li > a {
 color: rgb(250, 157, 51);
}
.date > h4 {
   color: rgb(250, 157, 51);
   text-align: right;
   margin-right: 40px;
   padding-top: none;
}

.topbtn {
   margin-right: 30px;
   margin-top: 10px;

}
.topbtn > li > a {
   color:  rgb(250, 157, 51);
   font-family: Open Sans;
    font-style: normal;
}
.topcontent {    
  padding-top: 10px;
}
.dedication {
   padding-top: 0px;
   color: rgb(250, 157, 51);
   font-size: 30px;
}
.intro {
   color: azure;
   font-size: 20px;
   padding: 20px;

   font-family: 'Courier New', Courier, monospace
}
 .middlecontent {
   margin-bottom: 50PX;
   margin-top: 50px;
 }
 hr {
    border: 0.25px solid rgba(124, 49, 15, 0.226);
    align-content: center
}
 .headers{
    padding-top: 10px;
 }
 .leftcontent{
	padding-right: 10px;
}
  .rightcontent{
  padding-left: 10px;
 }
   h5 , h4 , p{
    color: rgba(124, 49, 15, 0.904);
   }
   .footer{
      background-color: rgba(124, 49, 15, 0.904);
      margin-top: 0px;
      padding: auto;
     }
  .socialmedia {
  padding-left: 0px;
  }
  .icon{
     background: transparent;
     color: #5bc0de;
    }
    .fa{
     padding: 25px;
     font-size: 30px;
     width: 60px;
     text-align: center;
     text-decoration: none;
    
    }
     .navrow{
      padding-top: 40px;
      padding-left: 0px;
      padding-right: 50px;
     }
     .copyright {
      color: rgb(250, 157, 51)
     }
    
     .dwnbtn > li > a {
      color:  rgb(250, 157, 51);
      font-family: Open Sans;
      font-style: normal;
      font-size: 12px;
   }
   .dwnbtn {
     margin-top: none;
     padding-top: 25px;
  }
  .contact > h3 {
     color: rgb(250, 157, 51);
   }
   .contact > p {
     color: azure;
   }
   .sponsorhead{
     color: rgb(250, 157, 51);
   }
   .sponsors {
     display: block;
     max-width: 150px;
     max-height: 110px;
     background-color: transparent;
     margin-right: 20px;
     margin-top: 10px;
     border: none;
     padding: none;
    }
  
